body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('pic/back.jpg'); /* Проверьте путь к изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.logo {
    margin-right: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav a:hover {
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px;
    color: white;
}

.content div {
    margin: 0 150px;
    text-align: center;
}

.content img {
    width: 200px;
    height: 200px;
    border-radius: 0;
    object-fit: cover;
}

.content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content button:hover {
    background-color: #0056b3;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px); /* Учитываем высоту хедера */
    background-color: transparent; /* Сделаем фон контейнера прозрачным */
}
.login-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form h2 {
    margin-bottom: 20px;
}

.login-container form label {
    margin: 10px 0 5px;
}

.login-container form input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: #0056b3;
}
